@{
    ViewBag.Title = "Home Page";
}

@* Hilfprogramme, um das Markup zu vereinfachen *@
@helper ShowJavaScriptrLernenView(string Title, string ViewName) { 
    @Html.ActionLink(Title, "ShowView", new { controller = "E03_JavaScriptLernen", viewName = ViewName })
}

@helper ShowMkPrgNetTestsView(string Title, string ViewName)
{
    @Html.ActionLink(Title, "ShowView", new { controller = "MkPrgNetTests", viewName = ViewName })
}




<div class="jumbotron">
    <h1>HTML5/JavaScript</h1>
    <p class="lead">HTML5/JavaScript, ein freies, weltweit kostenlos verfügbares Web Framework zum Aufbau von Webanwendungen.</p>
    <p><a href="http://www.w3.org/" class="btn btn-primary btn-lg" target="_blank">W3.org &raquo;</a></p>
</div>

<div class="row">
    <article class="col-md-4">
        <h2>HTML5</h2>
        <p>
            Einführung in Sematische Struktur und visuelles Gestalten mittels CSS3 in HTML5.
        </p>
        <ol>
            <li>@Html.ActionLink("HTML5 Intro", "Index", "E01_StructureAndStyle")</li>
            <li>@Html.ActionLink("Sematisches Markup", "SemanticMarkup", "E01_StructureAndStyle")
                <ol type="i">
                    <li>@Html.ActionLink("U01 article & Co", "U01SemTags_article_co", "E01_StructureAndStyle")</li>
                </ol>
            </li>            
            <li>@Html.ActionLink("CSS", "CSSIntro", "E01_StructureAndStyle")
                <ol type="i">
                    <li>@Html.ActionLink("U02 CSS Selektoren", "U02CSSSelektoren", "E01_StructureAndStyle")</li>
                    <li>@Html.ActionLink("U03 Box Modell", "U03BoxModell", "E01_StructureAndStyle")</li>

                </ol></li>
            <li>@Html.ActionLink("Struktur und Stil", "SetNone", "E01_StructureAndStyle")</li>
            <li>@Html.ActionLink("Bootstrap", "Index", "E02_Bootstrap")</li>
        </ol>
    </article>
    <article class="col-md-4">
        <h2>JavaScript</h2>
        <p>Sprachgrundlagen, Zugriff auf das DOM, MVC</p>
        <ol>
            <li>@Html.ActionLink("Versionsverwaltung mit GIT", "ShowView", new { controller = "E03_JavaScriptLernen", viewName = "GitVersionCntrl" })</li>
            <li>@ShowJavaScriptrLernenView("Node.js und NPM", "NodeJSandNPM")</li>
            <li>@ShowJavaScriptrLernenView("Unit- Tests", "TestsIntro")</li>
            <li>@ShowJavaScriptrLernenView("Basics","Basics_Intro")</li>           
            <li>@ShowJavaScriptrLernenView("Asynchrones Module Loading mit RequireJS", "RequireJS")</li>
            <li>@ShowJavaScriptrLernenView("lodash Tests", "lodashTests")</li>
            <li>@ShowJavaScriptrLernenView("Test Klassenbibliothk Astro", "AstroQUnit")</li>
            <li>@ShowJavaScriptrLernenView("Dom", "DomIntro")</li>
            <li>@ShowJavaScriptrLernenView("Formulare und Validierung", "FormsIO")</li>
            <li>@ShowJavaScriptrLernenView("Ajax", "AjaxIntro")</li>
            <li>@ShowJavaScriptrLernenView("Canvas Painter", "CanvasPainter")</li>
            <li>@ShowJavaScriptrLernenView("FileAPI", "FileAPI")</li>
            <li>@ShowJavaScriptrLernenView("Web Worker", "WebWorker")</li>            
            <li>@ShowJavaScriptrLernenView("MVC mit AngularJS", "MVCAngularJS")</li>
            <li>@ShowJavaScriptrLernenView("Übung Klassenbibliothk Astro", "Astro")</li>          

        </ol>
    </article>
    <article class="col-md-4">
        <h2>Tests für die mk-prg-net Bibliothek</h2>
        <h3>Number Theory</h3>
        <p>
            Algorithmen und Verfahren aus dem Bereich der math. Zahlentheorie
        </p>
        <ol>
            <li>@ShowMkPrgNetTestsView("Primzahlenscanner", "PrimNumbersTest")</li>
            <li>@ShowMkPrgNetTestsView("Canvas Painter Basics", "CanvasPainterBasicsTest")</li>
            <li>@ShowMkPrgNetTestsView("Canvas Painter Scripts", "CanvasPainterScriptTest")</li>
        </ol>

    </article>
</div>